# server env variables
server/.env

# server node_modules
server/node_modules
server/node_modules/.package-lock.json

#frontend node modules & package-lock
frontend/node_modules

# ds store file
.DS_Store
